@media screen and (min-width: 300px) {
  .container h2{
      padding-top: 5px;
      font-size: 25px;
  }

  .app-bar .app-bar__navigation.open{
      height: 100vh;
  }
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .restos {
    grid-template-columns: 1fr 1fr;

  }

  .resto {
    grid-template-columns: auto 1fr;
  }

  .resto .resto__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .resto .resto__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  .container h2 {font-size: 40px;}
}

@media screen and (min-width: 850px) {
  .restos {
    grid-template-columns: repeat(3, 1fr);
  }
  .container h2 {font-size: 40px;}
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
  .restos {
    grid-template-columns: repeat(4, 1fr);
  }
  .container h2 {font-size: 50px;}
  }
  .resto .resto__poster {
    width: 50%;
  }
  .hero {
    aspect-ratio: 16/9;
    bottom: 70px;
  }

@media screen and (min-width: 1600px) {
  .restos {
    grid-template-columns: repeat(5, 1fr);
  }
  .container h2 {font-size: 50px;}
  }
  .resto .resto__poster {
    width: 50%;
  }
 .hero {
    aspect-ratio: 16/9;
    bottom: 70px;
  }
